{% load wagtailimages_tags %}
{% for card in self.cards %}
<div class="col-xxl-6 col-xl-6 col-lg-6">
    <div class="jumbocard d-flex section__title-wrapper mb-65 wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        {% image card.cardicon max-80x80 as img %}              
        <img src="{{ img.url }}" class="wow fadeInDown me-2" alt="{{ img.alt }}">
        <div class="jumbotext">
            <h2 class="">{{card.headline}}</h2>
            <p>{{card.description}}</p>
        </div>
    </div>
 </div>
 {% endfor %}