  
<div class="row">
    <div class="col-12">
      <div class="apland-blog-pagination mt-30 wow fadeInUp">
        <nav aria-label="Page navigation example">
          <div class="basic-pagination wow fadeInUp" data-wow-delay=".9s">
          <ul class="pagination justify-content-center">
            {% if page.has_previous %}

            <li class="page-item">
                <a class="page-link" href="?page={{page.previous_page_number }}"aria-label="Previous"><i class="lni-chevron-left"></i
                    ></a>
            </li>
            {% endif %}
            <li class="page-item active">
                Page {{ page.number }} of {{ page.paginator.num_pages }}
            </li>            
            <li class="page-item">
                {% if page.has_next %}
              <a class="page-link" href="#" aria-label="Next"
                ><i class="lni-chevron-right"></i
              ></a>
              <a class="page-link" href="?page={{page.next_page_number }}"aria-label="Next"><i class="lni-chevron-right"></i
                ></a>
              {% endif %}
            </li>
          </ul>
        </div>
        </nav>
      </div>
    </div>
  </div>






